<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DictProcess.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>MJZhengMa.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C525A3D91A88EBD5007D73F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C525A3EC1A88EBD5007D73F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C55141EE1A8E3EEE00918016</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C55142001A8E3EEE00918016</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C572C8F51A8B3590006B6B31</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
